[submodule "contracts/lib/safe-contracts"]
	path = contracts/lib/safe-contracts
	url = https://github.com/safe-global/safe-contracts
[submodule "contracts/lib/cowswap_wrapper"]
	path = contracts/lib/cowswap_wrapper
	url = https://github.com/koeppelmann/cowswap_wrapper
